.BackToTop {
	background-color: var(
		--background-secondary
	); // ${(props) => props.theme.color.secondary}
	border-radius: 2px;
	bottom: 20px;
	cursor: pointer;
	display: flex;
	opacity: 0;
	padding: 10px;
	pointer-events: none;
	position: fixed;
	right: 20px;
	transition: opacity 400ms ease-in-out;
	z-index: 1000;

	&:hover {
		svg {
			stroke: var(
				--text-secondary
			); // ${(props) => props.theme.text.secondary} !important
		}
	}

	&.Active {
		opacity: 1;
		pointer-events: all;
	}

	svg {
		stroke: var(
			--text-primary
		) !important; // ${(props) => props.theme.text.primary} !important
		transition: stroke 200ms ease-in-out;
	}
}
