.LinkElement {
	align-items: center;
	border: 2px solid var(--text-primary);
	border-radius: 50%;
	display: inline-flex;
	height: 40px;
	justify-content: center;
	line-height: 1;
	margin-right: 10px;
	text-align: center;
	transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
	width: 40px;

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		color: white;
	}

	svg {
		transition: color 400ms ease-in-out;
	}
}
