.ContactElement {
	display: inline-block;
	margin-right: 30px;
	padding-left: 30px;
	position: relative;
	text-align: left;
	text-transform: uppercase;

	&:last-of-type {
		margin-right: 0;
	}

	.ContactTitle {
		color: var(--text-secondary);
		line-height: 1;
		margin-bottom: 7px;

		@media (min-width: 768px) and (max-width: 990px) {
			font-size: 12px;
		}
	}

	.ContactInfo {
		line-height: 1;

		@media (min-width: 768px) and (max-width: 990px) {
			font-size: 1em;
		}
	}
}
