#NavbarWrapper {
	background-color: var(--background-primary);
	left: 0;
	padding: 7px 0 0 0;
	position: absolute;
	right: 0;
	transition: transform var(--animation-fast) ease-in-out;
	top: 0;
	width: 100%;
	z-index: 1000;

	#NavbarContainer {
		margin: 0 auto;
		padding: 0 15px;

		@media (min-width: 768px) {
			width: 750px;
		}
		@media (min-width: 992px) {
			width: 970px;
		}
		@media (min-width: 1200px) {
			width: 1170px;
		}

		&::before,
		&::after {
			content: ' ';
			display: table;
		}
		&::after {
			clear: both;
		}

		.NavbarRow {
			margin: 0 -15px;

			&::before,
			&::after {
				content: ' ';
				display: table;
			}
			&::after {
				clear: both;
			}
		}
	}
}

#MobileHamburgerWrapper {
	min-height: 1px;
	padding: 0 15px;
	position: relative;

	@media (min-width: 768px) {
		float: left;
		width: 25%;
	}
	@media (min-width: 1200px) {
		float: left;
		width: 16.66666667%;
	}

	#MobileHamburgerContainer {
		display: none;
		padding: 33px 0;
		text-align: left;

		@media (min-width: 320px) and (max-width: 767px) {
			display: block;
			left: 15px;
			padding: 0;
			position: absolute;
			text-align: left;
			top: -63px;
		}

		#MobileHamburger {
			cursor: pointer;
			height: 40px;
			position: relative;
			width: 40px;

			&.Active,
			#MobileHamburgerCheckbox:checked + #MobileHamburgerLineContainer {
				.MobileHamburgerLine {
					&:nth-of-type(1) {
						top: 10px;
						transform: rotate(45deg);
					}
					&:nth-of-type(2) {
						opacity: 0;
					}
					&:nth-of-type(3) {
						bottom: 10px;
						transform: rotate(-45deg);
					}
				}
			}

			#MobileHamburgerCheckbox {
				cursor: pointer;
				display: block;
				height: 100%;
				opacity: 0;
				position: absolute;
				width: 100%;
				z-index: 2;
				-webkit-touch-callout: none;
			}

			#MobileHamburgerLineContainer {
				bottom: 0;
				height: 22px;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 32px;

				.MobileHamburgerLine {
					background-color: var(--text-secondary);
					border-radius: var(--border-radius);
					display: block;
					height: 3px;
					position: absolute;
					transition: all var(--animation-fast) ease-in-out;
					width: 100%;

					&:nth-of-type(1) {
						top: 0;
					}
					&:nth-of-type(2) {
						bottom: 50%;
						top: 50%;
						transform: translateY(-50%);
					}
					&:nth-of-type(3) {
						bottom: 0;
					}
				}
			}
		}
	}
}

#NavigationWrapper {
	min-height: 1px;
	padding: 0 15px;
	position: relative;

	@media (min-width: 768px) {
		float: left;
		width: 75%;
	}

	#NavigationContainer {
		display: block;

		#NavigationList {
			list-style: none;
			margin: 0;
			padding: 0;

			.NavigationListElement {
				display: inline-block;
				line-height: 1.2;
				margin-right: 78px;
				position: relative;

				&:not(:last-child):after {
					background-color: var(--text-secondary);
					border-radius: 50%;
					content: '';
					height: 5px;
					position: absolute;
					right: calc(-78px / 2);
					top: 50%;
					transform: translate(50%, -50%);
					width: 5px;
				}

				&:hover,
				&.Active {
					.NavigationListElementLink {
						color: var(--text-secondary);
					}
				}

				&:hover {
					.NavigationSubMenuList {
						opacity: 1;
						visibility: visible;
					}
				}

				@media (min-width: 991px) and (max-width: 1024px) {
					margin-right: 45px;

					&:not(:last-child):after {
						right: calc(-45px / 2);
					}
				}
				@media (min-width: 768px) and (max-width: 990px) {
					margin-right: 30px;

					&:not(:last-child):after {
						right: calc(-30px / 2);
					}
				}

				.NavigationListElementLink {
					display: block;
					padding: 20px 0 22px;
					transition: all var(--animation-fast) ease-in-out;
				}

				.NavigationSubMenuList {
					background-color: var(--background-secondary);
					border-radius: var(--border-radius);
					cursor: default;
					margin-left: -61px;
					opacity: 0;
					padding: 1em 0 1em 40px;
					position: absolute;
					top: 61px;
					transition: all var(--animation-fast) ease-in-out;
					visibility: hidden;
					width: 250px;
					z-index: 9;

					.NavigationSubMenuListElement {
						color: black;
						display: block;
						line-height: 1.2;
						margin: 21px 0;
						position: relative;

						&:hover,
						&.Active {
							.NavigationSubMenuListElementLink {
								color: var(--text-secondary);
							}
						}

						.NavigationSubMenuListElementLink {
							cursor: pointer;
							display: block;
							padding: 0;
							transition: all var(--animation-fast) ease-in-out;
						}
					}
				}
			}
		}
	}
}
