.BackToTop {
	background-color: var(--text-secondary);
	border-radius: var(--border-radius);
	bottom: 20px;
	color: white;
	cursor: pointer;
	display: flex;
	opacity: 0;
	padding: 10px;
	pointer-events: none;
	position: fixed;
	right: 20px;
	transition: opacity var(--animation-fast) ease-in-out;
	z-index: 1000;

	&:hover {
		opacity: 1 !important;
	}

	&.Active {
		opacity: 0.5;
		pointer-events: all;
	}
}
